<main class="main-content">
<div class="main-slider">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image: url(../assets/images/background-slide-1.jpg);">
        <div class="main-slider__text">
          <p class="main-slider__string_1">Новое на этой неделе</p><br>
          <p class="main-slider__string_2">Лучшие фигуративные<br>произведения</p><br>
          <p class="main-slider__string_3">Новые оригинальные работы,<br>выбранные нашим эспертом</p>
          <a class="main-slider__button" href="#">Открыть</a>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: url(../assets/images/background-slide-1.jpg);">
        <div class="main-slider__text">
          <p class="main-slider__string_1">Новое на этой неделе</p><br>
          <p class="main-slider__string_2">Лучшие фигуративные<br>произведения</p><br>
          <p class="main-slider__string_3">Новые оригинальные работы,<br>выбранные нашим эспертом</p>
          <a class="main-slider__button" href="#">Открыть</a>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: url(../assets/images/background-slide-1.jpg);">
        <div class="main-slider__text">
          <p class="main-slider__string_1">Новое на этой неделе</p><br>
          <p class="main-slider__string_2">Лучшие фигуративные<br>произведения</p><br>
          <p class="main-slider__string_3">Новые оригинальные работы,<br>выбранные нашим эспертом</p>
          <a class="main-slider__button" href="#">Открыть</a>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>