.main-slider {
    min-height: 800px;
    z-index: -1;
    .swiper-slide {
        background-image: url(../assets/images/background-slide-1.jpg);
        background-repeat: no-repeat;
        background-position: cover;
        text-align: left;
    }
    .swiper-pagination {
        bottom: 70px;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0px 10px;
    }
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        border: 2px solid rgba($color: #ffffff, $alpha: 1);
        background-color: transparent;
        box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.38);
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background-color: white;
        box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.38);
    }
    .main-slider__text {
        width: 1240px;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        margin-top: 245px;
    }
    .main-slider__string_one {
        font-family: "Proxima-Nova-Rg", sans-serif;
        font-size: 18px;
        line-height: 42px;
        color: white;
        background-color: rgba($color: #000000, $alpha: 0.8);
        width: max-content;
        padding-left: 27px;
    }
    .main-slider__string_two {
        font-family: "Proxima-Nova-Lt", sans-serif;
        font-weight: 300;
        font-size: 49px;
        line-height: 54px;
        color: white;
        background-color: rgba($color: #000000, $alpha: 0.8);
        display: inline;
        padding-left: 27px;
    }
    .main-slider__string_three {
        font-family: "Proxima-Nova-Rg", sans-serif;
        font-size: 22px;
        line-height: 31px;
        color: white;
        background-color: rgba($color: #000000, $alpha: 0.8);
        width: max-content;
        padding-left: 27px;
        margin-bottom: 64px;
    }
    .main-slider__button {
        font-family: "Proxima-Nova-Rg", sans-serif;
        font-size: 17px;
        line-height: 18px;
        color: white;
        text-decoration: none;
        background-color: rgba($color: #000000, $alpha: 0.6);
        padding: 19px 63px 19px 63px;
        border: 1px solid white;
    }
}
