<div class="popup-authorization">
    
    <div class="popup-authorization__centering">
        <span class="popup-authorization__close"></span>
        <div class="popup-header">
            <span class="popup-header__title">Авторизация</span>
            <div class="no-account">
                <span class="no-account__text">Ещё нет аккаунта?</span>
                <span class="no-account__registr">Зарегистрироваться</span>
            </div>
        </div>
        <div class="network-and-form">
            <div class="social-network">
                <span>С помощью социальных сетей</span>
                <ul class="social-network__list">
                    <li class="social-network__elem"><a href="#">VKontakte</a></li>
                    <li class="social-network__elem"><a href="#">Facebook</a></li>
                    <li class="social-network__elem"><a href="#">Odnoklassniki</a></li>
                    <li class="social-network__elem"><a href="#">Google +</a></li>
                </ul>
            </div>
            <div class="section-form">
                <form class="form-authorization" action="#">
                    <fieldset class="fieldset-email">
                        <legend class="label-email">E-mail</legend>
                        <input class="input-email" type="email" name="email" required>
                    </fieldset>
                    <fieldset class="fieldset-password">
                        <legend class="label-password">Пароль</legend>
                        <input type="password" name="password" required>
                    </fieldset>
                    <button class="button-authorization">Авторизоваться</button>
                </form>
                <div class="forgotten-password">
                    <span class="forgotten-password__text">Забыли пароль?</span>
                    <span class="forgotten-password__button">Восстановить пароль</span>
                </div>
            </div>
        </div>
    </div>
</div>