<div class="styles-section">
    <div class="section-header">
        <h2 class="section-title">Обзор стилей</h2>
        <div class="swiper-button">
            <div class="swiper-button__prev"></div>
            <div class="swiper-button__next"></div>
        </div>
    </div>
    <div class="centering">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="styles-list-one">
                        <div class="styles-list" style="background-image: url(assets/images/styles-photo-1.jpg);">
                            <div class="styles-list__elem">
                                <span class="styles-text__elem styles-text__elem_up">Современное НЮ</span>
                                <span class="styles-text__elem styles-text__elem_down">Новое изобразительное
                                    искусство</span>
                            </div>
                        </div>
                    </div>
                    <div class="styles-list-two">
                        <div class="styles-list" style="background-image: url(assets/images/styles-photo-2.jpg);">
                            <div class="styles-list__elem">
                                <span class="styles-text__elem styles-text__elem_up">Вдохновение<br> Уорхолом</span>
                                <span class="styles-text__elem styles-text__elem_down">Новый Поп Арт</span>
                            </div>
                        </div>
                        <div class="styles-list" style="background-image: url(assets/images/styles-photo-3.jpg);">
                            <div class="styles-list__elem">
                                <span class="styles-text__elem styles-text__elem_up">Вдохновение<br> Гансом
                                    Хофманном</span>
                                <span class="styles-text__elem styles-text__elem_down">Новый абстрактный
                                    экспрессионизм</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="styles-list-two">
                        <div class="styles-list" style="background-image: url(assets/images/styles-photo-4.jpg);">
                            <div class="styles-list__elem">
                                <span class="styles-text__elem styles-text__elem_up">Вдохновение<br> Уорхолом</span>
                                <span class="styles-text__elem styles-text__elem_down">Новый Поп Арт</span>
                            </div>
                        </div>
                        <div class="styles-list" style="background-image: url(assets/images/styles-photo-5.jpg);">
                            <div class="styles-list__elem">
                                <span class="styles-text__elem styles-text__elem_up">Вдохновение<br> Гансом
                                    Хофманном</span>
                                <span class="styles-text__elem styles-text__elem_down">Новый абстрактный
                                    экспрессионизм</span>
                            </div>
                        </div>
                    </div>
                    <div class="styles-list-one">
                        <div class="styles-list" style="background-image: url(assets/images/styles-photo-6.jpg);">
                            <div class="styles-list__elem">
                                <span class="styles-text__elem styles-text__elem_up">Современное НЮ</span>
                                <span class="styles-text__elem styles-text__elem_down">Новое изобразительное
                                    искусство</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>