<div class="styles-section">
    <div class="section-header">
        <h2 class="section-title">Обзор стилей</h2>
        <div class="swiper-button">
            <div class="swiper-button__prev"></div>
            <div class="swiper-button__next"></div>
        </div>
    </div>
    <div class="centering">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="styles-list-one">
                        <div class="styles-list-one__elem">
                            <img class="styles-photo" src="assets/images/styles-photo-1.jpg" alt="">
                            <div class="styles-text">
                                <p class="styles-text__elem styles-text__elem_up">Современное НЮ</p>
                                <p class="styles-text__elem styles-text__elem_down">Новое изобразительное искусство</p>
                            </div>
                        </div>
                    </div>
                    <div class="styles-list-two">
                        <div class="styles-list-two__elem">
                            <img class="styles-photo" src="assets/images/styles-photo-2.jpg" alt="">
                            <div class="styles-text">
                                <p class="styles-text__elem styles-text__elem_up">Вдохновение<br> Уорхолом</p>
                                <p class="styles-text__elem styles-text__elem_down">Новый Поп Арт</p>
                            </div>
                        </div>
                        <div class="styles-list-two__elem">
                            <img class="styles-photo" src="assets/images/styles-photo-3.jpg" alt="">
                            <div class="styles-text">
                                <p class="styles-text__elem styles-text__elem_up">Вдохновение<br> Гансом Хофманном</p>
                                <p class="styles-text__elem styles-text__elem_down">Новый абстрактный экспрессионизм</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="styles-list-two">
                        <div class="styles-list-two__elem">
                            <img class="styles-photo" src="assets/images/styles-photo-4.jpg" alt="">
                            <div class="styles-text">
                                <p class="styles-text__elem styles-text__elem_up">Вдохновение<br> Уорхолом</p>
                                <p class="styles-text__elem styles-text__elem_down">Новый Поп Арт</p>
                            </div>
                        </div>
                        <div class="styles-list-two__elem">
                            <img class="styles-photo" src="assets/images/styles-photo-5.jpg" alt="">
                            <div class="styles-text">
                                <p class="styles-text__elem styles-text__elem_up">Вдохновение<br> Гансом Хофманном</p>
                                <p class="styles-text__elem styles-text__elem_down">Новый абстрактный экспрессионизм</p>
                            </div>
                        </div>
                    </div>
                    <div class="styles-list-one">
                        <div class="styles-list-one__elem">
                            <img class="styles-photo" src="assets/images/styles-photo-6.jpg" alt="">
                            <div class="styles-text">
                                <p class="styles-text__elem styles-text__elem_up">Современное НЮ</p>
                                <p class="styles-text__elem styles-text__elem_down">Новое изобразительное искусство</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>