<div class="beginner-section">
    <div class="section-header">
        <h2 class="section-title">Не знаете с чего начать?</h2>
    </div>
    <div class="centering">
        <div class="beginner-video">
            <img class="beginner-video__preview" src="assets/images/background-video.jpg" alt="">
            <p class="beginner-video__text">Видеобзор нашего ресурса возможности для пользователя</p>
        </div>
        <div class="beginner-expert">
            <a class="beginner-expert__link" href="#"><img class="beginner-expert__photo" src="assets/images/expert-photo.jpg" alt=""></a>
            <a class="beginner-expert__link" href="#"><h3 class="beginner-expert__title">Выбор экспертов </h3></a>
            <a class="beginner-expert__link" href="#"><p class="beginner-expert__text">Обзор нашего экспетра Элеоноры Рубинштейн-Загорской</p></a>
        </div>
    </div>
    <div class="beginner-popup">
        <div class="beginner-popup__inner">
            <a class="beginner-popup__exit" href="#"></a>
            <iframe class="beginner-popup__video" src="https://www.youtube.com/embed/R8Yd-M9vfI0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>