.beginner-section {
    background-color: #f7f8f8;
}
.beginner-header {
    text-align: center;
    border-bottom: 1px solid #cbcbcb;
}
.beginner-title {
    font-family: "Proxima-Nova-Lt", sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    padding-top: 53px;
    padding-bottom: 28px;
    letter-spacing: 1px;
}