<div class="works-section works-section_card">
    <div class="section-header">
        <h2 class="section-title">Похожие работы</h2>
        <div class="swiper-button">
            <div class="swiper-button__prev"></div>
            <div class="swiper-button__next"></div>
        </div>
    </div>
    <div class="centering">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="grid__item js-grid__item">
                    <div class="photo-works">
                        <img class="photo" src="assets/images/photo-works-1.jpg" alt="">
                    </div>
                    <div class="description-work">
                        <span class="attraction-new">Новинка</span>
                        <h4 class="description-work__title"><a class="description-work__link" href="../product-card.html">Распоряжения о структуре
                                тут длинное название картины</a></h4>
                        <p class="description-work__author"><a class="description-work__link" href="#">Екатерина Александровна
                                Преображенская</a></p>
                        <p class="description-work__size">Картина, 80x60 см.</p>
                        <div class="price-and-icon">
                            <div class="price-section">
                            <p class="price">927 750 <span class="ruble">₽</span></p>
                            <span class="old-price">727 750</span>
                            </div>
                            <ul class="icon-list">
                                <li class="icon-list__heart">
                                    <svg class="svg-heart" viewBox="0 0 21.6 19.1"><path d="M10.8 3.7c5.5-6.8 12.6 1.4 8.7 5.7l-8.8 8.8L2 9.4C-1.5 5 5.3-3.2 10.8 3.7z"></path></svg>
                                </li>
                                <li class="icon-list__basket">
                                    <svg class="svg-basket" viewBox="0 0 17.1 21.3" xml:space="preserve"><path d="M16 20.3H1v-15l15.1.1z"></path><path fill="none" class="dst0 dst1" d="M5.1 5.4c0-5.7 6.7-5.9 6.7 0"></path></svg>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="grid__item js-grid__item">
                    <div class="photo-works">
                        <img class="photo" src="assets/images/photo-works-2.jpg" alt="">
                    </div>
                    <div class="description-work">
                        <h4 class="description-work__title"><a class="description-work__link" href="#">Абстракция, Опус J202</a>
                        </h4>
                        <p class="description-work__author"><a class="description-work__link" href="#">Соколов Виталий</a></p>
                        <p class="description-work__size">Картина, 80x60 см.</p>
                        <div class="price-and-icon">
                            <div class="price-section">
                            <p class="price">927 750 <span class="ruble">₽</span></p>
                            <span class="old-price">727 750</span>
                            </div>
                            <ul class="icon-list">
                                <li class="icon-list__heart">
                                    <svg class="svg-heart" viewBox="0 0 21.6 19.1"><path d="M10.8 3.7c5.5-6.8 12.6 1.4 8.7 5.7l-8.8 8.8L2 9.4C-1.5 5 5.3-3.2 10.8 3.7z"></path></svg>
                                </li>
                                <li class="icon-list__basket">
                                    <svg class="svg-basket" viewBox="0 0 17.1 21.3" xml:space="preserve"><path d="M16 20.3H1v-15l15.1.1z"></path><path fill="none" class="dst0 dst1" d="M5.1 5.4c0-5.7 6.7-5.9 6.7 0"></path></svg>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="grid__item js-grid__item">
                    <div class="photo-works">
                        <img class="photo" src="assets/images/photo-works-3.jpg" alt="">
                    </div>
                    <div class="description-work">
                        <span class="attraction-new">Новинка</span>
                        <h4 class="description-work__title"><a class="description-work__link" href="#">Распоряжения о структуре
                                тут длинное название картины</a></h4>
                        <p class="description-work__author"><a class="description-work__link" href="#">Екатерина Александровна
                                Преображенская</a></p>
                        <p class="description-work__size">Картина, 80x60 см.</p>
                        <div class="price-and-icon">
                            <div class="price-section">
                            <p class="price">927 750 <span class="ruble">₽</span></p>
                            <span class="old-price">727 750</span>
                            </div>
                            <ul class="icon-list">
                                <li class="icon-list__heart">
                                    <svg class="svg-heart" viewBox="0 0 21.6 19.1"><path d="M10.8 3.7c5.5-6.8 12.6 1.4 8.7 5.7l-8.8 8.8L2 9.4C-1.5 5 5.3-3.2 10.8 3.7z"></path></svg>
                                </li>
                                <li class="icon-list__basket">
                                    <svg class="svg-basket" viewBox="0 0 17.1 21.3" xml:space="preserve"><path d="M16 20.3H1v-15l15.1.1z"></path><path fill="none" class="dst0 dst1" d="M5.1 5.4c0-5.7 6.7-5.9 6.7 0"></path></svg>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="grid__item js-grid__item">
                    <div class="photo-works">
                        <img class="photo" src="assets/images/photo-works-7.jpg" alt="">
                    </div>
                    <div class="description-work">
                        <span class="attraction-discount">Скидка 20%</span>
                        <h4 class="description-work__title"><a class="description-work__link" href="#">Растущее действие</a>
                        </h4>
                        <p class="description-work__author"><a class="description-work__link" href="#">Рамина Роуз</a></p>
                        <p class="description-work__size">Картина, 80x60 см.</p>
                        <div class="price-and-icon">
                            <div class="price-section">
                            <p class="price">27 750 <span class="ruble">₽</span></p>
                            </div>
                            <ul class="icon-list">
                                <li class="icon-list__heart">
                                    <svg class="svg-heart" viewBox="0 0 21.6 19.1"><path d="M10.8 3.7c5.5-6.8 12.6 1.4 8.7 5.7l-8.8 8.8L2 9.4C-1.5 5 5.3-3.2 10.8 3.7z"></path></svg>
                                </li>
                                <li class="icon-list__basket">
                                    <svg class="svg-basket" viewBox="0 0 17.1 21.3" xml:space="preserve"><path d="M16 20.3H1v-15l15.1.1z"></path><path fill="none" class="dst0 dst1" d="M5.1 5.4c0-5.7 6.7-5.9 6.7 0"></path></svg>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
    </div>
</div>

</div>