<div class="works-section">
    <div class="section-header">
        <h2 class="section-title">Новые работы</h2>
        <div class="sort">
            <p class="sort-text">Сортировать по</p>
            <select class="sort-list sort-list-js" name="select">
                <option class="sort-list__elem" value="value1">Дате добавление</option>
                <option class="sort-list__elem" value="value2" selected>Цене</option>
                <option class="sort-list__elem" value="value3">Пополярности</option>
            </select>
        </div>
    </div>
    <div class="centering grid js-grid">
        <div class="grid__sizer js-grid__sizer"></div>
        <div class="grid__gutter js-grid__gutter"></div>
        <div class="static-item js-static-item">
            <div class="static-item__centering">
                <img class="static-photo_one" src="assets/images/static__works.png" alt="">
                <p class="static-text">Умный выбор по параметрам с примерами</p>
                <img class="static-photo_two" src="assets/images/static__works-2.png" alt="">
                <a class="static-link" href="#">Подобрать</a>
                <svg class="svg-arrow" viewBox="0 0 12 4">
                    <path id="Layer" class="shp0" d="M0 1.24L11.36 1.24L11.36 1.89L0 1.89L0 1.24Z" />
                    <path id="Layer" class="shp0"
                        d="M9.41 3.15L10.07 3.15L10.07 2.84L10.4 2.84L10.4 2.53L10.73 2.53L10.73 2.22L11.05 2.22L11.05 0.94L10.73 0.94L10.73 0.62L10.4 0.62L10.4 0.31L10.07 0.31L10.07 0L9.41 0L9.41 0.31L9.41 0.62L9.73 0.62L9.73 0.94L10.08 0.94L10.08 2.22L9.73 2.22L9.73 2.53L9.41 2.53L9.41 2.84L9.41 3.15Z" />
                </svg>
            </div>
        </div>
        <div class="grid__item js-grid__item">
            <div class="photo-works">
                <img class="photo" src="assets/images/photo-works-1.jpg" alt="">
            </div>
            <div class="description-work">
                <h4 class="description-work__title"><a class="description-work__link" href="#">Распоряжения о структуре
                        тут длинное название картины</a></h4>
                <p class="description-work__author"><a class="description-work__link" href="#">Екатерина Александровна
                        Преображенская</a></p>
                <p class="description-work__size">Картина, 80x60 см.</p>
                <div class="price-and-icon">
                    <p class="price">927 750 <span class="ruble">₽</span></p>
                    <span class="old-price">727 750</span>
                    <ul class="icon-list">
                        <li class="icon-list__heart">
                            <svg class="svg-heart" viewBox="0 0 5 5">
                                <path id="Layer" fill-rule="evenodd" class="shp0"
                                    d="M3.45 0C4.22 0.01 4.84 0.62 4.84 1.39C4.84 1.76 4.7 2.11 4.43 2.38L2.57 4.23C2.48 4.32 2.34 4.32 2.25 4.23L0.41 2.38C-0.14 1.83 -0.14 0.95 0.41 0.4C0.97 -0.16 1.89 -0.13 2.42 0.44C2.68 0.16 3.05 0 3.45 0ZM3.45 -0.01L3.44 -0.01C3.44 -0.01 3.45 -0.01 3.45 -0.01ZM4.1 2.07C4.28 1.89 4.38 1.65 4.38 1.4C4.38 0.88 3.96 0.46 3.44 0.46C3.09 0.46 2.78 0.64 2.62 0.94C2.54 1.1 2.31 1.1 2.22 0.94C1.91 0.38 1.16 0.3 0.73 0.73C0.36 1.1 0.36 1.69 0.73 2.06L2.42 3.75L4.12 2.06L4.1 2.07Z" />
                            </svg>
                        </li>
                        <li class="icon-list__basket">
                            <svg class="svg-basket" viewBox="0 0 3 4">
                                <path id="Layer" fill-rule="evenodd" class="shp0"
                                    d="M1.46 0C1.46 0 1.46 0 1.45 0C1.45 0 1.45 0 1.45 0L1.46 0ZM1.45 0C1.85 0 2.18 0.33 2.18 0.73L2.91 0.73L2.91 3.64L0 3.64L0 0.73L0.73 0.73C0.73 0.33 1.06 0 1.45 0ZM1.45 0.36C1.25 0.36 1.09 0.52 1.09 0.72L1.82 0.72C1.82 0.52 1.66 0.36 1.46 0.36L1.45 0.36ZM0.37 1.09L0.37 3.27L2.55 3.27L2.55 1.09L0.37 1.09Z" />
                            </svg>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="grid__item js-grid__item">
            <div class="photo-works">
                <img class="photo" src="assets/images/photo-works-2.jpg" alt="">
            </div>
            <div class="description-work">
                <h4 class="description-work__title"><a class="description-work__link" href="#">Абстракция, Опус J202</a>
                </h4>
                <p class="description-work__author"><a class="description-work__link" href="#">Соколов Виталий</a></p>
                <p class="description-work__size">Картина, 80x60 см.</p>
                <div class="price-and-icon">
                    <p class="price">927 750 <span class="ruble">₽</span></p>
                    <span class="old-price">727 750</span>
                    <ul class="icon-list">
                        <li class="icon-list__heart">
                            <svg class="svg-heart" viewBox="0 0 5 5">
                                <path id="Layer" fill-rule="evenodd" class="shp0"
                                    d="M3.45 0C4.22 0.01 4.84 0.62 4.84 1.39C4.84 1.76 4.7 2.11 4.43 2.38L2.57 4.23C2.48 4.32 2.34 4.32 2.25 4.23L0.41 2.38C-0.14 1.83 -0.14 0.95 0.41 0.4C0.97 -0.16 1.89 -0.13 2.42 0.44C2.68 0.16 3.05 0 3.45 0ZM3.45 -0.01L3.44 -0.01C3.44 -0.01 3.45 -0.01 3.45 -0.01ZM4.1 2.07C4.28 1.89 4.38 1.65 4.38 1.4C4.38 0.88 3.96 0.46 3.44 0.46C3.09 0.46 2.78 0.64 2.62 0.94C2.54 1.1 2.31 1.1 2.22 0.94C1.91 0.38 1.16 0.3 0.73 0.73C0.36 1.1 0.36 1.69 0.73 2.06L2.42 3.75L4.12 2.06L4.1 2.07Z" />
                            </svg>
                        </li>
                        <li class="icon-list__basket">
                            <svg class="svg-basket" viewBox="0 0 3 4">
                                <path id="Layer" fill-rule="evenodd" class="shp0"
                                    d="M1.46 0C1.46 0 1.46 0 1.45 0C1.45 0 1.45 0 1.45 0L1.46 0ZM1.45 0C1.85 0 2.18 0.33 2.18 0.73L2.91 0.73L2.91 3.64L0 3.64L0 0.73L0.73 0.73C0.73 0.33 1.06 0 1.45 0ZM1.45 0.36C1.25 0.36 1.09 0.52 1.09 0.72L1.82 0.72C1.82 0.52 1.66 0.36 1.46 0.36L1.45 0.36ZM0.37 1.09L0.37 3.27L2.55 3.27L2.55 1.09L0.37 1.09Z" />
                            </svg>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="grid__item grid__item_empty hidden-desktop hidden-mobile js-grid__item"></div>
        <div class="grid__item js-grid__item">
            <div class="photo-works">
                <img class="photo" src="assets/images/photo-works-3.jpg" alt="">
            </div>
            <div class="description-work">
                <h4 class="description-work__title"><a class="description-work__link" href="#">Распоряжения о структуре
                        тут длинное название картины</a></h4>
                <p class="description-work__author"><a class="description-work__link" href="#">Екатерина Александровна
                        Преображенская</a></p>
                <p class="description-work__size">Картина, 80x60 см.</p>
                <div class="price-and-icon">
                    <p class="price">927 750 <span class="ruble">₽</span></p>
                    <span class="old-price">727 750</span>
                    <ul class="icon-list">
                        <li class="icon-list__heart">
                            <svg class="svg-heart" viewBox="0 0 5 5">
                                <path id="Layer" fill-rule="evenodd" class="shp0"
                                    d="M3.45 0C4.22 0.01 4.84 0.62 4.84 1.39C4.84 1.76 4.7 2.11 4.43 2.38L2.57 4.23C2.48 4.32 2.34 4.32 2.25 4.23L0.41 2.38C-0.14 1.83 -0.14 0.95 0.41 0.4C0.97 -0.16 1.89 -0.13 2.42 0.44C2.68 0.16 3.05 0 3.45 0ZM3.45 -0.01L3.44 -0.01C3.44 -0.01 3.45 -0.01 3.45 -0.01ZM4.1 2.07C4.28 1.89 4.38 1.65 4.38 1.4C4.38 0.88 3.96 0.46 3.44 0.46C3.09 0.46 2.78 0.64 2.62 0.94C2.54 1.1 2.31 1.1 2.22 0.94C1.91 0.38 1.16 0.3 0.73 0.73C0.36 1.1 0.36 1.69 0.73 2.06L2.42 3.75L4.12 2.06L4.1 2.07Z" />
                            </svg>
                        </li>
                        <li class="icon-list__basket">
                            <svg class="svg-basket" viewBox="0 0 3 4">
                                <path id="Layer" fill-rule="evenodd" class="shp0"
                                    d="M1.46 0C1.46 0 1.46 0 1.45 0C1.45 0 1.45 0 1.45 0L1.46 0ZM1.45 0C1.85 0 2.18 0.33 2.18 0.73L2.91 0.73L2.91 3.64L0 3.64L0 0.73L0.73 0.73C0.73 0.33 1.06 0 1.45 0ZM1.45 0.36C1.25 0.36 1.09 0.52 1.09 0.72L1.82 0.72C1.82 0.52 1.66 0.36 1.46 0.36L1.45 0.36ZM0.37 1.09L0.37 3.27L2.55 3.27L2.55 1.09L0.37 1.09Z" />
                            </svg>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="grid__item grid__item_empty js-grid__item hidden-tablet"></div>
        <div class="grid__item js-grid__item">
            <div class="photo-works">
                <img class="photo" src="assets/images/photo-works-4.jpg" alt="">
            </div>
            <div class="description-work">
                <h4 class="description-work__title"><a class="description-work__link" href="#">Распоряжения о
                        структуре</a></h4>
                <p class="description-work__author"><a class="description-work__link" href="#">Говард Херш</a></p>
                <p class="description-work__size">Картина, 80x60 см.</p>
                <div class="price-and-icon">
                    <p class="price">27 750<span class="ruble">₽</span></p>
                    <ul class="icon-list">
                        <li class="icon-list__heart">
                            <svg class="svg-heart" viewBox="0 0 5 5">
                                <path id="Layer" fill-rule="evenodd" class="shp0"
                                    d="M3.45 0C4.22 0.01 4.84 0.62 4.84 1.39C4.84 1.76 4.7 2.11 4.43 2.38L2.57 4.23C2.48 4.32 2.34 4.32 2.25 4.23L0.41 2.38C-0.14 1.83 -0.14 0.95 0.41 0.4C0.97 -0.16 1.89 -0.13 2.42 0.44C2.68 0.16 3.05 0 3.45 0ZM3.45 -0.01L3.44 -0.01C3.44 -0.01 3.45 -0.01 3.45 -0.01ZM4.1 2.07C4.28 1.89 4.38 1.65 4.38 1.4C4.38 0.88 3.96 0.46 3.44 0.46C3.09 0.46 2.78 0.64 2.62 0.94C2.54 1.1 2.31 1.1 2.22 0.94C1.91 0.38 1.16 0.3 0.73 0.73C0.36 1.1 0.36 1.69 0.73 2.06L2.42 3.75L4.12 2.06L4.1 2.07Z" />
                            </svg>
                        </li>
                        <li class="icon-list__basket">
                            <svg class="svg-basket" viewBox="0 0 3 4">
                                <path id="Layer" fill-rule="evenodd" class="shp0"
                                    d="M1.46 0C1.46 0 1.46 0 1.45 0C1.45 0 1.45 0 1.45 0L1.46 0ZM1.45 0C1.85 0 2.18 0.33 2.18 0.73L2.91 0.73L2.91 3.64L0 3.64L0 0.73L0.73 0.73C0.73 0.33 1.06 0 1.45 0ZM1.45 0.36C1.25 0.36 1.09 0.52 1.09 0.72L1.82 0.72C1.82 0.52 1.66 0.36 1.46 0.36L1.45 0.36ZM0.37 1.09L0.37 3.27L2.55 3.27L2.55 1.09L0.37 1.09Z" />
                            </svg>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="grid__item js-grid__item">
            <div class="photo-works">
                <img class="photo" src="assets/images/photo-works-5.jpg" alt="">
            </div>
            <div class="description-work">
                <h4 class="description-work__title"><a class="description-work__link" href="#">Абстракция, Опус J202</a>
                </h4>
                <p class="description-work__author"><a class="description-work__link" href="#">Соколов Виталий</a></p>
                <p class="description-work__size">Картина, 80x60 см.</p>
                <div class="price-and-icon">
                    <p class="price">27 750 <span class="ruble">₽</span></p>
                    <ul class="icon-list">
                        <li class="icon-list__heart">
                            <svg class="svg-heart" viewBox="0 0 5 5">
                                <path id="Layer" fill-rule="evenodd" class="shp0"
                                    d="M3.45 0C4.22 0.01 4.84 0.62 4.84 1.39C4.84 1.76 4.7 2.11 4.43 2.38L2.57 4.23C2.48 4.32 2.34 4.32 2.25 4.23L0.41 2.38C-0.14 1.83 -0.14 0.95 0.41 0.4C0.97 -0.16 1.89 -0.13 2.42 0.44C2.68 0.16 3.05 0 3.45 0ZM3.45 -0.01L3.44 -0.01C3.44 -0.01 3.45 -0.01 3.45 -0.01ZM4.1 2.07C4.28 1.89 4.38 1.65 4.38 1.4C4.38 0.88 3.96 0.46 3.44 0.46C3.09 0.46 2.78 0.64 2.62 0.94C2.54 1.1 2.31 1.1 2.22 0.94C1.91 0.38 1.16 0.3 0.73 0.73C0.36 1.1 0.36 1.69 0.73 2.06L2.42 3.75L4.12 2.06L4.1 2.07Z" />
                            </svg>
                        </li>
                        <li class="icon-list__basket">
                            <svg class="svg-basket" viewBox="0 0 3 4">
                                <path id="Layer" fill-rule="evenodd" class="shp0"
                                    d="M1.46 0C1.46 0 1.46 0 1.45 0C1.45 0 1.45 0 1.45 0L1.46 0ZM1.45 0C1.85 0 2.18 0.33 2.18 0.73L2.91 0.73L2.91 3.64L0 3.64L0 0.73L0.73 0.73C0.73 0.33 1.06 0 1.45 0ZM1.45 0.36C1.25 0.36 1.09 0.52 1.09 0.72L1.82 0.72C1.82 0.52 1.66 0.36 1.46 0.36L1.45 0.36ZM0.37 1.09L0.37 3.27L2.55 3.27L2.55 1.09L0.37 1.09Z" />
                            </svg>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="grid__item js-grid__item">
            <div class="photo-works">
                <img class="photo" src="assets/images/photo-works-6.jpg" alt="">
            </div>
            <div class="description-work">
                <h4 class="description-work__title"><a class="description-work__link" href="#">Распоряжения о структуре
                        тут длинное название картины</a></h4>
                <p class="description-work__author"><a class="description-work__link" href="#">Екатерина Александровна
                        Преображенская</a></p>
                <p class="description-work__size">Картина, 80x60 см.</p>
                <div class="price-and-icon">
                    <p class="price">927 750 <span class="ruble">₽</span></p>
                    <span class="old-price">727 750</span>
                    <ul class="icon-list">
                        <li class="icon-list__heart">
                            <svg class="svg-heart" viewBox="0 0 5 5">
                                <path id="Layer" fill-rule="evenodd" class="shp0"
                                    d="M3.45 0C4.22 0.01 4.84 0.62 4.84 1.39C4.84 1.76 4.7 2.11 4.43 2.38L2.57 4.23C2.48 4.32 2.34 4.32 2.25 4.23L0.41 2.38C-0.14 1.83 -0.14 0.95 0.41 0.4C0.97 -0.16 1.89 -0.13 2.42 0.44C2.68 0.16 3.05 0 3.45 0ZM3.45 -0.01L3.44 -0.01C3.44 -0.01 3.45 -0.01 3.45 -0.01ZM4.1 2.07C4.28 1.89 4.38 1.65 4.38 1.4C4.38 0.88 3.96 0.46 3.44 0.46C3.09 0.46 2.78 0.64 2.62 0.94C2.54 1.1 2.31 1.1 2.22 0.94C1.91 0.38 1.16 0.3 0.73 0.73C0.36 1.1 0.36 1.69 0.73 2.06L2.42 3.75L4.12 2.06L4.1 2.07Z" />
                            </svg>
                        </li>
                        <li class="icon-list__basket">
                            <svg class="svg-basket" viewBox="0 0 3 4">
                                <path id="Layer" fill-rule="evenodd" class="shp0"
                                    d="M1.46 0C1.46 0 1.46 0 1.45 0C1.45 0 1.45 0 1.45 0L1.46 0ZM1.45 0C1.85 0 2.18 0.33 2.18 0.73L2.91 0.73L2.91 3.64L0 3.64L0 0.73L0.73 0.73C0.73 0.33 1.06 0 1.45 0ZM1.45 0.36C1.25 0.36 1.09 0.52 1.09 0.72L1.82 0.72C1.82 0.52 1.66 0.36 1.46 0.36L1.45 0.36ZM0.37 1.09L0.37 3.27L2.55 3.27L2.55 1.09L0.37 1.09Z" />
                            </svg>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="grid__item js-grid__item">
            <div class="photo-works">
                <img class="photo" src="assets/images/photo-works-7.jpg" alt="">
            </div>
            <div class="description-work">
                <h4 class="description-work__title"><a class="description-work__link" href="#">Растущее действие</a>
                </h4>
                <p class="description-work__author"><a class="description-work__link" href="#">Рамина Роуз</a></p>
                <p class="description-work__size">Картина, 80x60 см.</p>
                <div class="price-and-icon">
                    <p class="price">27 750 <span class="ruble">₽</span></p>
                    <ul class="icon-list">
                        <li class="icon-list__heart">
                            <svg class="svg-heart" viewBox="0 0 5 5">
                                <path id="Layer" fill-rule="evenodd" class="shp0"
                                    d="M3.45 0C4.22 0.01 4.84 0.62 4.84 1.39C4.84 1.76 4.7 2.11 4.43 2.38L2.57 4.23C2.48 4.32 2.34 4.32 2.25 4.23L0.41 2.38C-0.14 1.83 -0.14 0.95 0.41 0.4C0.97 -0.16 1.89 -0.13 2.42 0.44C2.68 0.16 3.05 0 3.45 0ZM3.45 -0.01L3.44 -0.01C3.44 -0.01 3.45 -0.01 3.45 -0.01ZM4.1 2.07C4.28 1.89 4.38 1.65 4.38 1.4C4.38 0.88 3.96 0.46 3.44 0.46C3.09 0.46 2.78 0.64 2.62 0.94C2.54 1.1 2.31 1.1 2.22 0.94C1.91 0.38 1.16 0.3 0.73 0.73C0.36 1.1 0.36 1.69 0.73 2.06L2.42 3.75L4.12 2.06L4.1 2.07Z" />
                            </svg>
                        </li>
                        <li class="icon-list__basket">
                            <svg class="svg-basket" viewBox="0 0 3 4">
                                <path id="Layer" fill-rule="evenodd" class="shp0"
                                    d="M1.46 0C1.46 0 1.46 0 1.45 0C1.45 0 1.45 0 1.45 0L1.46 0ZM1.45 0C1.85 0 2.18 0.33 2.18 0.73L2.91 0.73L2.91 3.64L0 3.64L0 0.73L0.73 0.73C0.73 0.33 1.06 0 1.45 0ZM1.45 0.36C1.25 0.36 1.09 0.52 1.09 0.72L1.82 0.72C1.82 0.52 1.66 0.36 1.46 0.36L1.45 0.36ZM0.37 1.09L0.37 3.27L2.55 3.27L2.55 1.09L0.37 1.09Z" />
                            </svg>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="grid__item grid__item_empty js-grid__item hidden-tablet hidden-mobile"></div>
        <div class="grid__item js-grid__item">
            <div class="photo-works">
                <img class="photo" src="assets/images/photo-works-8.jpg" alt="">
            </div>
            <div class="description-work">
                <h4 class="description-work__title"><a class="description-work__link" href="#">Абстракция, Опус J202</a>
                </h4>
                <p class="description-work__author"><a class="description-work__link" href="#">Соколов Виталий</a></p>
                <p class="description-work__size">Картина, 80x60 см.</p>
                <div class="price-and-icon">
                    <p class="price">27 750 <span class="ruble">₽</span></p>
                    <ul class="icon-list">
                        <li class="icon-list__heart">
                            <svg class="svg-heart" viewBox="0 0 5 5">
                                <path id="Layer" fill-rule="evenodd" class="shp0"
                                    d="M3.45 0C4.22 0.01 4.84 0.62 4.84 1.39C4.84 1.76 4.7 2.11 4.43 2.38L2.57 4.23C2.48 4.32 2.34 4.32 2.25 4.23L0.41 2.38C-0.14 1.83 -0.14 0.95 0.41 0.4C0.97 -0.16 1.89 -0.13 2.42 0.44C2.68 0.16 3.05 0 3.45 0ZM3.45 -0.01L3.44 -0.01C3.44 -0.01 3.45 -0.01 3.45 -0.01ZM4.1 2.07C4.28 1.89 4.38 1.65 4.38 1.4C4.38 0.88 3.96 0.46 3.44 0.46C3.09 0.46 2.78 0.64 2.62 0.94C2.54 1.1 2.31 1.1 2.22 0.94C1.91 0.38 1.16 0.3 0.73 0.73C0.36 1.1 0.36 1.69 0.73 2.06L2.42 3.75L4.12 2.06L4.1 2.07Z" />
                            </svg>
                        </li>
                        <li class="icon-list__basket">
                            <svg class="svg-basket" viewBox="0 0 3 4">
                                <path id="Layer" fill-rule="evenodd" class="shp0"
                                    d="M1.46 0C1.46 0 1.46 0 1.45 0C1.45 0 1.45 0 1.45 0L1.46 0ZM1.45 0C1.85 0 2.18 0.33 2.18 0.73L2.91 0.73L2.91 3.64L0 3.64L0 0.73L0.73 0.73C0.73 0.33 1.06 0 1.45 0ZM1.45 0.36C1.25 0.36 1.09 0.52 1.09 0.72L1.82 0.72C1.82 0.52 1.66 0.36 1.46 0.36L1.45 0.36ZM0.37 1.09L0.37 3.27L2.55 3.27L2.55 1.09L0.37 1.09Z" />
                            </svg>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="grid__item grid__item_empty js-grid__item hidden-tablet hidden-mobile"></div>
        <div class="grid__item js-grid__item">
            <div class="photo-works">
                <img class="photo" src="assets/images/photo-works-9.jpg" alt="">
            </div>
            <div class="description-work">
                <h4 class="description-work__title"><a class="description-work__link" href="#">Абстракция, Опус J202</a>
                </h4>
                <p class="description-work__author"><a class="description-work__link" href="#">Соколов Виталий</a></p>
                <p class="description-work__size">Картина, 80x60 см.</p>
                <div class="price-and-icon">
                    <p class="price">27 750 <span class="ruble">₽</span></p>
                    <ul class="icon-list">
                        <li class="icon-list__heart">
                            <svg class="svg-heart" viewBox="0 0 5 5">
                                <path id="Layer" fill-rule="evenodd" class="shp0"
                                    d="M3.45 0C4.22 0.01 4.84 0.62 4.84 1.39C4.84 1.76 4.7 2.11 4.43 2.38L2.57 4.23C2.48 4.32 2.34 4.32 2.25 4.23L0.41 2.38C-0.14 1.83 -0.14 0.95 0.41 0.4C0.97 -0.16 1.89 -0.13 2.42 0.44C2.68 0.16 3.05 0 3.45 0ZM3.45 -0.01L3.44 -0.01C3.44 -0.01 3.45 -0.01 3.45 -0.01ZM4.1 2.07C4.28 1.89 4.38 1.65 4.38 1.4C4.38 0.88 3.96 0.46 3.44 0.46C3.09 0.46 2.78 0.64 2.62 0.94C2.54 1.1 2.31 1.1 2.22 0.94C1.91 0.38 1.16 0.3 0.73 0.73C0.36 1.1 0.36 1.69 0.73 2.06L2.42 3.75L4.12 2.06L4.1 2.07Z" />
                            </svg>
                        </li>
                        <li class="icon-list__basket">
                            <svg class="svg-basket" viewBox="0 0 3 4">
                                <path id="Layer" fill-rule="evenodd" class="shp0"
                                    d="M1.46 0C1.46 0 1.46 0 1.45 0C1.45 0 1.45 0 1.45 0L1.46 0ZM1.45 0C1.85 0 2.18 0.33 2.18 0.73L2.91 0.73L2.91 3.64L0 3.64L0 0.73L0.73 0.73C0.73 0.33 1.06 0 1.45 0ZM1.45 0.36C1.25 0.36 1.09 0.52 1.09 0.72L1.82 0.72C1.82 0.52 1.66 0.36 1.46 0.36L1.45 0.36ZM0.37 1.09L0.37 3.27L2.55 3.27L2.55 1.09L0.37 1.09Z" />
                            </svg>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="view-all">
    <a class="view-all__link" href="#">Смотреть всё</a>
    </div>
</div>