
.popup-success {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    // display: none;

    .popup-success__centering {
        width: 531px;
        height: 389px;
        background-color: white;
        position: relative;

        .popup-success__close {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 25px;
            height: 25px;
            cursor: pointer;

            &::after,
            &::before {
                content: "";
                position: absolute;
                width: 23px;
                height: 5px;
                top: 8px;
                left: 1px;
                background-color: black;
            }

            &::after {
                transform: rotate(45deg);
            }

            &::before {
                transform: rotate(-45deg);
            }
        }

        .popup-header {
            padding-top: 53px;
            width: 441px;
            margin-left: auto;
            margin-right: auto;
            border-bottom: 1px solid #cccccc;
            padding-bottom: 16px;
            position: relative;
            margin-bottom: 37px;
            text-align: center;

            &::before {
                content: "";
                position: absolute;
                width: 40px;
                height: 1px;
                background-color: black;
                bottom: -1px;
                left: 50%;
                margin-left: -20px;
            }

            .popup-header__title {
                font-family: "Proxima-Nova-Lt", sans-serif;
                font-weight: 300;
                font-size: 36px;
                line-height: 42px;
            }

        }
        .popup-success__text {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            font-size: 17px;
            line-height: 18px;
            margin-bottom: 50px;
        }
        .popup-success__img {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }
}
@media (max-width: 1279px) {
    .popup-success {

        .popup-success__centering {
            width: 370px;//
            height: 329px;//
    
            .popup-registration__close {
                top: 15px; //
                right: 15px; //
            }
    
            .popup-header {
                padding-top: 40px;//
                width: 290px;//
                padding-bottom: 10px;//
                margin-bottom: 30px;//
    
                .popup-header__title {
                    font-size: 24px;//
                }
    
            }
            .popup-success__text {
                font-size: 14px;//
                margin-bottom: 40px;//
            }
            .popup-success__img {
                width: 100px;//
                height: 77px;//
            }
        }
    }
}