.product-card {
    padding-top: 87px;

    .bread-crumb {
        background-color: #f3f4f5;
        height: 53px;
        width: 100%;
    }

    .bread-crumb__link {
        display: contents;
    }

    .bread-crumb__back {
        margin-right: 49px;
        padding-left: 53px;
        position: relative;
        background-image: url(../assets/images/arrow-back.png);
        background-repeat: no-repeat;
        background-position: 4px 86%;
        text-decoration: none;

        &::after {
            content: "";
            position: absolute;
            height: 29px;
            width: 1px;
            background-color: #666666;
            right: -21px;
            top: 11px;
        }
    }

    .bread-crumb__elem {
        display: inline-block;
        padding-top: 18px;
        color: #666666;
        position: relative;

        &:not(.bread-crumb__back) {
            margin-right: 59px;
        }

        &:not(.bread-crumb__back)::after {
            content: "";
            position: absolute;
            width: 29px;
            height: 1px;
            right: -47px;
            top: 26px;
            background-color: #666666;
        }
    }

    .bread-crumb__last::before {
        content: "";
        position: absolute;
        width: 29px;
        height: 1px;
        right: -47px;
        top: 26px;
        background-color: #f3f4f5;
        z-index: 3;
    }

    .product-card__main {
        padding-top: 45px;

        .centering {
            display: flex;
        }

        .photo-section {
            width: 644px;

            &__sliders {
                display: flex;
                justify-content: space-between;
                height: 380px;
                .swiper-container {
                    border: 1px solid red;
                }
                .swiper-container-one {
                    width: 81px;
                    margin-right: 10px;
                }
            }
        }

        .text-section {
            width: 596px;

            .text-section__title {
                font-family: "Proxima-Nova-Rg", sans-serif;
                font-weight: normal;
                font-size: 30px;
                line-height: 32px;
                color: #2e3237;
                padding-left: 45px;
            }

            .artile-and-favorites {
                padding-left: 45px;
                display: flex;
                justify-content: space-between;
                margin-top: 35px;

                .article,
                .favorites {
                    font-family: "Proxima-Nova-Rg", sans-serif;
                    font-weight: normal;
                    font-size: 15px;
                }

                .article {
                    color: #999999;
                }

                .favorites {
                    position: relative;

                    transition: 0.3s;

                    &:hover {
                        color: #009999;
                        cursor: pointer;

                        transition: 0.3s;


                        .svg-heart {
                            stroke: #009999;

                            transition: 0.3s;
                        }
                    }

                    .svg-heart {
                        fill: white;
                        stroke: black;
                        width: 22px;
                        height: 20px;
                        position: absolute;
                        left: -31px;
                        top: -2px;

                    }
                }
            }

            .author {
                padding-left: 45px;
                margin-top: 20px;

                &__elem {
                    color: black;
                    text-decoration: none;
                    border-bottom: 1px solid #c3c3c3;

                    &:hover {
                        border-bottom: 1px solid #bcdcdc;
                        color: #009999;
                    }
                }
            }

            .size-and-style {
                padding-left: 45px;
                margin-top: 25px;

                .size-picture {
                    font-family: "Proxima-Nova-Rg", sans-serif;
                    font-size: 15px;
                    font-weight: normal;
                    color: #666666;
                    margin-right: 37px;

                    &__inner {
                        color: black;
                    }
                }

                .style-picture {
                    font-family: "Proxima-Nova-Rg", sans-serif;
                    font-size: 15px;
                    font-weight: normal;
                    color: #666666;

                    .style-picture__link {
                        color: black;
                        text-decoration: none;
                        border-bottom: 1px solid #c3c3c3;

                        transition: 0.3s;

                        &:hover {
                            border-bottom: 1px solid #bcdcdc;
                            color: #009999;

                            transition: 0.3s;
                        }
                    }
                }
            }

            .price-and-basket {
                display: flex;
                padding-left: 45px;
                padding-top: 27px;

                .price {
                    display: flex;
                    flex-direction: column;
                    width: 166px;

                    &__real {
                        font-family: "Proxima-Nove-Rg", sans-serif;
                        font-weight: normal;
                        color: #2e3237;
                        font-size: 30px;
                        margin-bottom: 10px;
                        padding-top: 20px;

                        .ruble {
                            font-size: 18px;
                        }


                    }

                    &__old {
                        font-family: "Proxima-Nova-Rg", sans-serif;
                        font-size: 19px;
                        font-weight: normal;
                        color: #666666;
                        text-decoration: line-through;
                    }
                }

                .basket__inner {
                    width: 384px;
                    border: 3px solid #009999;
                    transition: 0.3s;

                    &:hover {
                        border: 3px solid #26a9a9;
                        transition: 0.3s;
                    }

                    .basket__button {
                        font-family: "Proxima-Nova-Lt", sans-serif;
                        font-weight: 600;
                        font-size: 16px;
                        color: white;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        outline: 1px solid #9cd7d7;
                        border: 0px;
                        background-color: #009999;
                        width: 100%;


                        height: 51px;

                        transition: 0.3s;

                        &:hover {
                            outline: 1px solid #c2e7e7;
                            background-color: #26a9a9;
                            cursor: pointer;
                            transition: 0.3s;
                        }
                    }
                }
            }

            .social-network {
                width: 550px;
                margin-left: auto;
                min-height: 40px;
                margin-top: 13px;
                padding-bottom: 20px;
                display: block;

                .social-list {
                    display: flex;
                    float: right;
                    width: 184px;
                    justify-content: space-between;

                    &__elem {
                        border: 1px solid #cdcdcd;
                        border-radius: 50%;
                        width: 40px;
                        height: 40px;
                        position: relative;
                        transition: 0.3s;

                        &:hover {
                            background-color: #333333;
                            border: 1px solid transparent;
                            transition: 0.3s;
                            cursor: pointer;

                            .svg-vk,
                            .svg-mail,
                            .svg-ok,
                            .svg-facebook {
                                fill: white;
                                transition: 0.3s;
                            }
                        }
                    }

                    .svg-vk,
                    .svg-mail,
                    .svg-ok,
                    .svg-facebook {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        width: 23px;
                        height: 20px;
                        fill: #666666;
                        transition: 0.3s;

                    }

                    .svg-mail {
                        width: 17px;
                    }
                }
            }

            .parameters-picture {
                padding-left: 45px;
                margin-bottom: 14px;

                .parameters-picture__button {
                    font-size: 18px;
                    position: relative;
                    display: block;
                    font-family: "Proxima-Nova_Rg", sans-serif;
                    font-weight: normal;

                    padding-top: 17px;
                    border-top: 1px solid #c2c2c2;
                    margin-bottom: 21px;

                    .tab-arrow {
                        width: 10px;
                        height: 6px;
                        position: absolute;
                        right: 14px;
                        top: 20px;
                        transform: rotate(180deg);
                    }
                }

                .parameters-table {
                    width: 100%;

                    .parameters-table__line:nth-child(odd) {
                        background-color: #f7f7f7;
                    }

                    .parameters-table__column {
                        vertical-align: auto;
                        padding-top: 9px;
                        padding-bottom: 9px;
                        font-size: 15px;
                        font-family: "Proxima-Nova_Rg", sans-serif;
                        font-weight: normal;
                    }

                    .parameters-table__column-one {
                        width: 182px;
                        padding-left: 11px;
                    }

                    .parameters-table__column-two {
                        width: 357px;
                    }
                }

            }

            .description-picture {
                width: 550px;
                display: block;
                margin-left: auto;
                border-bottom: 1px solid #c2c2c2;
                padding-bottom: 25px;
                margin-bottom: 70px;

                &__button {
                    font-size: 18px;
                    position: relative;
                    border-top: 1px solid #c2c2c2;
                    padding-top: 15px;
                    display: block;
                    font-family: "Proxima-Nova_Rg", sans-serif;
                    font-weight: normal;

                    .tab-arrow {
                        width: 10px;
                        height: 6px;
                        position: absolute;
                        right: 14px;
                        top: 20px;
                        transform: rotate(180deg);
                    }
                }

                &__text {
                    font-family: "Proxima-Nova_Rg", sans-serif;
                    font-weight: normal;
                    margin-top: 42px;
                    padding-left: 11px;
                    font-size: 16px;
                    line-height: 27px;
                }
            }
        }
    }
}