<div class="news-section">
    <div class="section-header">
        <h2 class="section-title">Новости искусства</h2>
        <div class="swiper-button">
            <div class="swiper-button__prev"></div>
            <div class="swiper-button__next"></div>
        </div>
    </div>
    <div class="centering">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="news-photo-container">
                        <img class="news-photo" src="assets/images/news-photo-1.jpg" alt="">
                    </div>
                    <div class="news">
                        <div class="news__header">
                            <a class="news__link-teg" href="#">Галлереи и выставки</a><span class="news-data">21.12.2018</span>
                        </div>
                        <a class="news__link-title" href="#">
                            <h5 class="news__title">Обзор нашего экспетра Владимира Рубинштейна-Загорского</h5>
                        </a>
                        <p class="news__text">Теперь чтобы увидеть и сравнить все 36 картин культового голландца,
                            не нужно объезжать весь мир.</p>
                        <a class="news__link-look" href="#">Смотреть и читать
                            <svg class="svg-arrow" viewBox="0 0 12 4">
                                <path id="Layer" class="shp0" d="M0 1.24L11.36 1.24L11.36 1.89L0 1.89L0 1.24Z" />
                                <path id="Layer" class="shp0"
                                    d="M9.41 3.15L10.07 3.15L10.07 2.84L10.4 2.84L10.4 2.53L10.73 2.53L10.73 2.22L11.05 2.22L11.05 0.94L10.73 0.94L10.73 0.62L10.4 0.62L10.4 0.31L10.07 0.31L10.07 0L9.41 0L9.41 0.31L9.41 0.62L9.73 0.62L9.73 0.94L10.08 0.94L10.08 2.22L9.73 2.22L9.73 2.53L9.41 2.53L9.41 2.84L9.41 3.15Z" />
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="news-photo-container">
                        <img class="news-photo" src="assets/images/news-photo-2.jpg" alt="">
                    </div>
                    <div class="news">
                        <div class="news__header">
                            <a class="news__link-teg" href="#">
                                <p class="news__teg">Галлереи и выставки</p>
                            </a><span class="news-data">21.12.2018</span>
                        </div>
                        <a class="news__link-title" href="#">
                            <h5 class="news__title">Обзор нашего экспетра Владимира
                                Рубинштейна-Загорского</h5>
                        </a>
                        <p class="news__text">Теперь чтобы увидеть и сравнить все 36 картин культового голландца,
                            не нужно объезжать весь мир.</p>
                        <a class="news__link-look" href="#">Смотреть и читать
                            <svg class="svg-arrow" viewBox="0 0 12 4">
                                <path id="Layer" class="shp0" d="M0 1.24L11.36 1.24L11.36 1.89L0 1.89L0 1.24Z" />
                                <path id="Layer" class="shp0"
                                    d="M9.41 3.15L10.07 3.15L10.07 2.84L10.4 2.84L10.4 2.53L10.73 2.53L10.73 2.22L11.05 2.22L11.05 0.94L10.73 0.94L10.73 0.62L10.4 0.62L10.4 0.31L10.07 0.31L10.07 0L9.41 0L9.41 0.31L9.41 0.62L9.73 0.62L9.73 0.94L10.08 0.94L10.08 2.22L9.73 2.22L9.73 2.53L9.41 2.53L9.41 2.84L9.41 3.15Z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>
</main>