<div class="popular-filter">
    <div class="centering">
        <div class="centering-tablet">
            <div class="popular-filter__header">
                <h2 class="popular-filter__title">Популярные фильтры</h2>
                <div class="swiper-button">
                    <div class="swiper-button__prev"></div>
                    <div class="swiper-button__next"></div>
                </div>
            </div>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="filter-photo">
                            <img class="filter-photo__inner" src="assets/images/popular-filter-1.jpg" alt="">
                        </div>
                        <span class="filter-text">Барроко</span>
                    </div>
                    <div class="swiper-slide">
                        <div class="filter-photo">
                            <img class="filter-photo__inner" src="assets/images/popular-filter-2.jpg" alt="">
                        </div>
                        <span class="filter-text">Живопись</span>
                    </div>
                    <div class="swiper-slide">
                        <div class="filter-photo">
                            <img class="filter-photo__inner" src="assets/images/popular-filter-3.jpg" alt="">
                        </div>
                        <span class="filter-text">Пейзаж</span>
                    </div>
                    <div class="swiper-slide">
                        <div class="filter-photo">
                            <img class="filter-photo__inner" src="assets/images/popular-filter-4.jpg" alt="">
                        </div>
                        <span class="filter-text">Модерн</span>
                    </div>
                    <div class="swiper-slide">
                        <div class="filter-photo">
                            <img class="filter-photo__inner" src="assets/images/popular-filter-2.jpg" alt="">
                        </div>
                        <span class="filter-text">Барроко</span>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
</div>